<div style="float: left; background-color: #EEE; border-radius: 3px; width: 97%; margin-top:10px; margin-bottom:10px; padding:10px;">
  <h5>Comment by <%= comment.author_name %></h5>
  <p class="comment"><%= comment.body %></p>
  <p>Posted <%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %> later</p>
  <br />
</div>
